fastapi
uvicorn
langchain-groq
fastapi
uvicorn
langchain-groq
langchain-huggingface
qdrant-client
python-dotenv
pydantic
prometheus-client
sentence-transformers
python-multipart
faker
pypdf
langchain-text-splitters
groq
supabase-py
langchain
langgraph
